#outline {
  display: block;
}
#employee {
  width: max-content;
  position: fixed;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline-grid;
  border: solid;
}

#databaseArea {
  position: static;
  display: inline-block;
  padding: 0rem;
  border: solid;
}
