<!-- <div id="outline"> -->
  <div id="employee">
    <h2>Tim Green</h2>
    <button>Work Order Request</button>
    <br>
    <button> Manage Work Order</button>
  </div>

  <div id="databaseArea">

    <div id="detailsArea">
      <button>Details</button>
    </div>

    <div id="searchArea">
      <select>
      <option value="name">Name</option>
      <option value="repairID">Repair ID</option>
      <option value="employeeID">Employee ID</option>
    </select>
      <br>
      <button>Search</button>
    </div>

    <div id="desplayDataArea">
      <table>
        <tr>
          <th>Repair ID</th>
          <th>Date</th>
          <th>Name</th>
          <th>Status</th>

        </tr>
      </table>
    </div>

  </div>
<!-- </div> -->