<body>
  <div *ngIf = "user.permissions == 0">
    <h1>Log In</h1>
    <div class="card align-items-center">
      <div class="card-body">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="Username"
            #username
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            placeholder="Password"
            #password
          />
        </div>
        <button
          class="btn btn-primary"
          (click)="logIn(username.value, password.value)"
        >
          Log In
        </button>
        <div>
          <h4>User: {{ user.username }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf = "user.permissions == 3">
    <app-it-employee-details></app-it-employee-details>
  </div>
  <div *ngIf = "user.permissions == 4">
    <app-it-head-details></app-it-head-details>
  </div>
  <div *ngIf="user.permissions == 2">
    <app-employee-details></app-employee-details>
  </div>
</body>
