  <div id="databaseArea">
    <br>
    <br>
    <br>
    <div id="detailsArea">
      <br>
      <button>Details</button>
    </div>

    <div id="searchArea">
      <select>
      <option value="name">Name</option>
      <option value="repairID">Repair ID</option>
      <option value="employeeID">Employee ID</option>
    </select>
      <br>
      <button>Search</button>
    </div>
    <br>
    <div id="desplayDataArea">
      <table>
        <tr id="titleRow">
          <th>Repair ID</th>
          <th>Date</th>
          <th>Name</th>
          <th>Status</th>

        </tr>
        <tr>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
      </table>
    </div>
  </div>